<% layout('layouts/boilerplate') %>

    
    
 
<%- include('./style.ejs'); %>
        <div class="container show-grid">
            <div class="show-card show-flex">

                <h1>
                    <%= club.club_title %>
                </h1>

                <div class="show-links">
                    <ul>
                        <li><a href="/clubs/<%= club._id %>/currently_reading">Currently Reading</a></li>
                        <li><a href="/clubs/<%= club._id %>/have_read">Have Read</a></li>
                        <li><a href="/clubs/<%= club._id %>/will_read">Will Read</a></li>
                    </ul>
                </div>

                <form action="/clubs/<%= club._id %>?_method=DELETE" class="show-form" method="POST">
                    <button class="show-btn">Delete</button>
                </form>
            </div>

            
            <div>
                <h1>About: </h1>
                <h1 class="show-text">This club is created by <%= club.name %> </h1>
            </div>


        </div>