<% layout('layouts/boilerplate') %>

    <%- include('./style.ejs'); %>

        <div class="container show-grid">

            <div class="show-card show-flex">
                <h1>
                    <%= club.club_title %>
                </h1>
                <div class="show-links">
                    <ul>
                        <li><a href="/clubs/<%= club._id %>/currently_reading" class="active">Currently Reading</a>
                        </li>
                        <li><a href="/clubs/<%= club._id %>/have_read">Have Read</a></li>
                        <li><a href="/clubs/<%= club._id %>/will_read">Will Read</a></li>
                    </ul>
                </div>

                <form action="/clubs/<%= club._id %>?_method=DELETE" class="show-form" method="POST">
                    <button class="show-btn">Delete</button>
                </form>
            </div>






            <div class="search-book-side">

                <form action="/clubs/<%= club._id %>/currently_reading" method="POST">
                    <div class="form-control">

                        <input type="text" id="currently_reading" name="reading[book_name]"
                            placeholder="Currently Reading....">
                    </div>
                    <div>
                        <button class="add-btn">+</button>
                    </div>
                </form>

                <div class="felx">
                    <% for(let reading of club.currently_reading){ %>
                        <div class="book-card">

                            <img src="/image/book2.png" alt="" srcset="">

                            <div class="title">
                                <h2>TITLE :</h2>
                                <p>
                                    <%= reading.book_name %>
                                </p>
                            </div>
                            <form action="/clubs/<%= club._id %>/currently_reading/<%= reading._id %>?_method=DELETE" method="post">
                                <button class="delete-btn"><img src="/image/delete.png" alt="trash"></button>
                            </form>

                        </div>
                        <% } %>



                </div>

            </div>





        </div>